<div class="container">
  <div id="dragons-list-component">
    <div class="new-dragon">
      <form class="form" [formGroup]="form" (ngSubmit)="filterDragons()">
        <div class="form_item">
          <input
            type="text"
            name="filter"
            id="filter"
            formControlName="filter"
            placeholder="Procurar por besta específica"
          />
        </div>

        <div class="form_submit">
          <button type="submit">search</button>
        </div>
      </form>

      <a [routerLink]="['/', 'main', 'dragons', 'create']">
        <i>add</i>
        <span>Novo registro</span>
      </a>
    </div>

    <ul class="dragons-list" *ngIf="!isLoading && filteredDragons.length > 0">
      <li class="dragons-title">
        <div class="id">ID</div>
        <div class="separator"></div>
        <div class="name">Nome da besta</div>
        <div class="separator"></div>
        <div class="type">Tipo de dragão</div>
        <div class="separator"></div>
        <div class="created-at">Registrado em</div>
        <div class="separator"></div>
        <div class="actions">Ações</div>
      </li>

      <li class="dragon-item" *ngFor="let dragon of filteredDragons">
        <div class="id">{{ dragon.id }}</div>
        <div class="separator"></div>
        <div class="name">{{ dragon.name }}</div>
        <div class="separator"></div>
        <div class="type">{{ dragon.type }}</div>
        <div class="separator"></div>
        <div class="created-at">
          {{ dragon.createdAt | date: 'dd/MM/yyyy' }}
        </div>
        <div class="separator"></div>
        <div class="actions">
          <a
            [routerLink]="['/', 'main', 'dragons', 'edit', dragon.id]"
            class="edit"
          >
            <i>create</i>
            <span>Editar</span>
          </a>

          <a
            href="javascript:;"
            class="delete"
            (click)="deleteDragon(dragon.id)"
          >
            <i>cancel</i>
            <span>Deletar</span>
          </a>
        </div>
      </li>
    </ul>

    <div class="no-results" *ngIf="!isLoading && dragons.length < 1">
      Infelizmente, os covis estão todos vazios. Outros aventureiros devem ter
      derrotado todos os dragões antes de você chegar...
    </div>

    <div class="loading" *ngIf="isLoading">
      Estamos tirando os dragões de seus covis! Aproveite esses momentos para se
      equipar bem.

      <div class="load-bar"></div>
    </div>
  </div>
</div>
