<div id="login">
  <div class="login_section">
    <form class="login_form" [formGroup]="form">
      <div class="title">Login</div>

      <div class="form_item">
        <label for="username" [class.not-empty]="!!form.controls.username.value"
          >Nome de usuário</label
        >
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Nome de usuário"
          formControlName="username"
        />
      </div>

      <div class="form_item">
        <label for="password" [class.not-empty]="!!form.controls.password.value"
          >Senha</label
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Senha"
          formControlName="password"
        />
      </div>

      <div class="form_submit">
        <button type="submit">arrow_forward</button>
      </div>
    </form>
  </div>
</div>
