<div id="login" [class.loading]="isLoading">
  <div class="login_section">
    <form class="form login_form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="title">Login</div>

      <div
        class="form_item"
        [class.invalid]="
          !form.controls.username.pristine && !form.controls.username.valid
        "
      >
        <label for="username" [class.not-empty]="!!form.controls.username.value"
          >Nome de usuário</label
        >
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Nome de usuário"
          formControlName="username"
          [attr.disabled]="isLoading ? true : null"
        />
      </div>

      <div
        class="form_item"
        [class.invalid]="
          !form.controls.password.pristine && !form.controls.password.valid
        "
      >
        <label for="password" [class.not-empty]="!!form.controls.password.value"
          >Senha</label
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Senha"
          formControlName="password"
          [attr.disabled]="isLoading ? true : null"
        />
      </div>

      <div class="form_submit">
        <button type="submit" [disabled]="isLoading || !form.valid">
          <span *ngIf="isLoading" class="rotate">autorenew</span>
          <span *ngIf="!isLoading">arrow_forward</span>
        </button>
      </div>
    </form>
  </div>
</div>
