@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import 'app/modules/common/common';

* {
  box-sizing: border-box;
  outline: none !important;
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

a {
  text-decoration: none;
}

body {
  font-family: $fontname;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: auto;
}
